<html>
	<head>
		<title>Renewable Energy (2015) - Course Project</title>
		<link  rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
	</head>

	<div id='main_container'>
		<div id='main_title'>Renewable Energy (2015) - Course Project</div>
		<div id='description' class='container'>
			<div class='sub_title'>DESCRIPTION</div>
			<div class='content'>This project deals with the estimation of Power (max), Open-Circuit Voltage (Voc) and and Short-circuit Current (Isc) at any given location within US coordinates set, utilizing the available weather data parameters of solar radiation (kWh/m^2) and air temperate (in degree Celcius). The purpose of this course project is to demonstrate the ability to estimate the performance of a given solar panel at any given location within US, at any given time of the year.</div>
		</div>

		<div id='data_used' class='container'>
			<div class='sub_title'>DATA SOURCES USED</div>
			<div class='content'>We utilized the estimated solar insolation and air temperature data for the years between 2005 to 2080. Also, we utilized three different models of solar panels, which are listed below:
				</br></br>
				<ul>
					<li>YGE-U 72 CELL <i>(Yingli Solar - Multi-crystalline)</i></li>
					<li>Plus SW 280 mono <i>(Sunmodule - Mono-crystalline)</i></li>
					<li>KD325GX-LFB <i>(Kyocera - Multicrystalline)</i></li>
				</ul>

			</div>
		</div>

		<div id='tech_used' class='container'>
			<div class='sub_title'>TECH USED</div>
			<div class='content'>
				We built our project using following open-source technologies:</br></br>
				<ul>
					<li>Python <i>(data extraction + aggregation + backend architecture)</i></li>
					<li>netCDF4 <i>(data extraction)</i></li>
					<li>Javascript <i>(front-end + data querying mechanism)</i></li>
					<li>Mongodb <i>(data storage/retrieval)</i>	</li>
					<li>Project 
						<i>
							<a style='color: green; font-weight: bold;' href='http://github.com/saifuddin778/ren_project.git'>
								github.com/saifuddin778/ren_project.git
							</a>
						</i>
					</li>
				</ul>
			</div>
		</div>
		
		<div id='contributors' class='container'>
			<div class='sub_title'>CONTRIBUTORS</div>
			<div class='content'>
				<ul>
					<li>Onur Kurt</li>
					<li>Ariel Miara</li>
					<li>Saifuddin Abdullah</li>
				</ul>
			</div>
		</div>
		<div id='enter'><a href='/ren_project/'>ENTER</a></div>
	</div>

</html>