<html>
	<head>
		<title>Renewable Energy (2015) - Course Project</title>
		<link  rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
	</head>

	<div id='main_container'>
		<div id='main_title'>Renewable Energy (2015) - Course Project</div>
		<div id='description' class='container'>
			<div class='sub_title'>DESCRIPTION</div>
			<div class='content'>This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. This project deals with the estimation of power, voltage, etc for solar panels. </div>
		</div>

		<div id='data_used' class='container'>
			<div class='sub_title'>DATA SOURCES USED</div>
			<div class='content'>We utilized solar insolation and air temperature data for the years between 2005 to 2080. Also, we utilized three different models of solar panels.</div>
		</div>

		<div id='tech_used' class='container'>
			<div class='sub_title'>TECH USED</div>
			<div class='content'>
				We built our project using following open-source technologies:</br></br>
				<ul>
					<li>netCDF4 <i>(data extraction)</i></li>
					<li>Python <i>(data extraction + aggregation + backend architecture)</i></li>
					<li>Javascript <i>(front-end + data querying mechanism)</i></li>
					<li>Mongodb <i>(data storage/retrieval)</i>	</li>
				</ul>
			</div>
		</div>
		
		<div id='contributors' class='container'>
			<div class='sub_title'>CONTRIBUTORS</div>
			<div class='content'>
				<ul>
					<li>Onur Kurt</li>
					<li>Ariel Mara</li>
					<li>Saifuddin Abdullah</li>
				</ul>
			</div>
		</div>

		<div id='enter'><a href='/ren_project/'>ENTER</a></div>
	</div>

</html>